<div class="container" id="i18_projects">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="projects.my_projects">Coaches</span></h1>
        </div>
    </div>
    <div class="row">
        {% for coach in site.data.index.coaches %}
            {% assign loopindex = forloop.index | modulo: 2 %}
            {% if forloop.last %}
                {% if forloop.last == forloop.first %}
            <div class="col-sm-6 wow col-sm-offset-3 zoomIn">
                {% else %}
            <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft col-sm-offset-3 {% else %} fadeInRight {% endif %}">
                {% endif %}
            {% else %}
            <div class="col-sm-6 wow {% if loopindex == 1 %} fadeInLeft {% else %} fadeInRight {% endif %}">
            {% endif %}
              <div class="team-member">
                  <img src="{{ coach.img | prepend: site.baseurl }}" class="img-responsive img-circle img-small" alt="">
                  <h4>
                  {% if coach.repo %}
                  <a href="https://github.com/{{ coach.gh_user }}/{{ coach.repo }}" target="_blank"><span class="navy">{{ coach.name }}</span></a>
                  {% else %}
                  <span class="navy">{{ coach.name }}</span>
                  {% endif %}
                  </h4>
                  <p><span data-i18n="coaches.{{ coach.i18n }}">{{ coach.desc }}</span></p>
                  {% if coach.repo %}
                  <div user="{{ coach.gh_user }}" repo="{{ coach.repo }}" class="ghbtn">
                      <a target="_blank" style="width: 65px;" href="https://github.com/{{ coach.gh_user }}/{{ coach.repo }}/stargazers" class="btn btn-white btn-xs star"><i class="fa fa-star"></i> ...</a>&emsp;&emsp;
                      <a target="_blank" style="width: 65px;" href="https://github.com/{{ project.gh_user }}/{{ project.repo }}/network" class="btn btn-white btn-xs fork"><i class="fa fa-code-fork"></i> ...</a>
                      <div style="height: 10px;"></div>
                  </div>
                  {% endif %}
              </div>
          </div>
      {% endfor %}
    </div>
</div>
<br>
